@import (inline) "normalize.css";

.home-page {
	text-align: center;

	h2 {
		color: #2a7ea4;
	}

	ul {
		text-align: left;
	}

	img {
		width: 4em;
	}
}

.counter-value {
	color: #59a42a;
}

.tire-container {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}

.tire {
    grid-template-columns: 30% 30% 30% !important;
}
